<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <table border="1">
      <tr>
          <th>아이디</th>
          <th>암호</th>
          <th>이름</th>
          <th>나이</th>  
      </tr>
      <% for(var i=0;i<list.length;i++) { %>
      <tr>
        <td><%= list[i].id %></td>
        <td><%= list[i].pw %></td>
        <td><%= list[i].name %></td>
        <td><%= list[i].age %></td>
        <td>
          <a href="/mem/update.js?id=<%= list[i].id %>">수정</a>
          <a href="/mem/delete.js?id=<%= list[i].id %>">삭제</a>
        </td>  
      </tr>
    <% } %>
    </table>
  </body>
  
</html>
